@charset "UTF-8";

.wrapper{
  margin: 0 10% 0 10%;
}

header{
  display: flex;
 margin: 2rem auto;
}

nav p{

  color: #111111;
  font-size: 16px;
  margin: 16px auto 16px auto;
}

article{
  margin: 30px 0 3rem 0;
}

.menu{
  display: flex;

}

.search{
  margin-right: 45px 90px;
}
.container1{
  display: flex;
  margin: 1rem;
}
.item01{
  margin: 16px;
}
.item02{
  margin: 1rem;
}

p{
  color: #aaaaaa;
}

h1{
  margin-bottom: 0;
  padding-bottom: 0;
}

.Mainicon p{
  margin: 0 auto;
}

h2{

}

h3{

}

h4{

}

h5{

}

time{
  color: #aaaaaa;
  font-size: 14px;
}
.Maintext{
  color: #666666;
  font-size: 26px;
  margin: 3rem 5% 2rem 5%;

}
