@charset "UTF-8"

header {
 background-color: #aaacff;
 height:300px;
}

main{
 background-color: #aaaaaa;
 transition: all 300ms 0s ease;
 height:500px;
 animation: rotation 2s ease 0s 1 alternate none running;
 animation-iteration-count: infinite;
}

@keyframes rotation {
  0% {
    background: #ffffff;
    color: #000000;
  }

  25% {
    background: #aaffff;
    color: #333333;
  }

  50% {
    background: #aaccff;
    color: #666666;
  }

  75% {
    background: #aaaaff;
    color: #cccccc;
  }

  100% {
    background: #6666ff;
    color: #ffffff;
  }
}

footer{
 background-color: #33acff;
 color: #ffffff;
}

h1{
  color: #ffffff;
  background-color: #ffaa00;
  height: 3rem;
  transition-property: all;
  transition-delay: 300ms;
  transition-duration: 600ms;
}

h1:hover{
  color: #ff3333;
  background-color: #ffaaaa;
  height: 250px;
}

h2{
  color: #ffffff;
}

#button {
  width: 250px;
  height: 250px;
  background-color: #ef454a;
  border-radius: 50%; /*divを円形にする*/
  margin: 30px auto;  /*divの位置の調整*/
  text-align: center; /*div内の文字の位置の調整*/
  line-height: 250px; /*div内の文字の位置の調整*/
  color: #ffffff;
  font-weight: bold; /*div内の文字を太くする*/
  font-size: 42px; /*div内の文字を大きくする*/
  cursor: pointer; /*divにカーソルを持っていくとカーソルの形が変わる*/
  box-shadow: 0 10px 0 #d1483e; /*divに影を作れる*/
  user-select: none; /*ドラッグしても選択ができなくなる*/
}

#button:hover{
  opacity: 0.9; /*ボタンにカーソルを乗せると半透明になる*/
}

#button:active{ /*ボタンの動作時のスタイル*/
  box-shadow: 0 5px 0 #d1483e;
  margin: 35px auto;
}
