@charset "UTF-8"

.wrapper{
  max-width: 80%;
  margin: 0 auto;
}

.container0{
  display:flex;
  justify-content: space-between;
}

.container1{
  display:flex;
}

header{
  background-color:#99aaff;
}

main{
  max-width: 80%;
}

aside{
  max-width: 20%;
}

h1 {
  color: #6666ff;
}

h2{
  font-family:monospace;
}

ol {
  margin: 160px 80px 20px 80px;
}

li{
  margin: auto 10px 15px 30px;
}

#profile{
  height:400px;
  background-image: url(images/0501.jpg);
  background-size:cover;
}
