@charset "UTF-8";

body{
  background-color: #eeeeee;
}

.containertop{
  display:flex;
  justify-content: space-between;
}
.container{
  display: flex;
  justify-content: space-between;
}

.containerft{
  display: flex;
  justify-content: flex-start;
}

.wrapper{
  max-width: 920px;
  margin: 0 auto;
}

.forborder{
  border-top: 20px solid #33aaaa;
  margin: -10px -50px 0 -50px;
}

h1{
  margin:50px 0 20px 0;
}

.topitem{
  font-size: 8px;
  padding: 10px 4px 10px 4px;
}

.topitem span{
  color:red;
}

.toptel{
  font-size:25px;
  padding: 5px 0 5px 10px;
}

.toptime{
  border: 0.5px solid #cccccc;
  text-align: center;
}

nav{
  gap: 0px;
}
.nav01{
  background-image: linear-gradient(#33ffee, #33ccff);
  border-radius: 5%;
  border: 0.5px solid #ccffff;
  color:#fff;
  text-align: center;
  padding:10px 15px;
  width:184px;
}
.nav02{
  background-image: linear-gradient(#33ffee, #33ccff);
  border: 0.5px solid #ccffff;
  color:#fff;
  text-align: center;
  padding:10px 15px;
  width:184px;
}
.nav03{
  background-image: linear-gradient(#33ffee, #33ccff);
  border-radius: 5%;
  border: 0.5px solid #ccffff;
  color:#fff;
  text-align: center;
  padding:10px 15px;
  width:184px;
}
.navi{
  font-size: 10px;
  padding: 0;
  margin:0;
}

.Uline{
  font-size:12.5px;
  border-bottom: 1.5px solid #9999ff;
  margin-top:15px;
  margin-bottom:10px;
  padding-bottom:20px;
  text-align: right;
}

.rights{
  text-align: center;
  font-size: 12.5px;
}

main{
  width: 640px;
  height: 700px;
  order: 2;
}

main img{
  margin:15px 15px 5px 0;
}

main div{
  background-color: #ffffff;
  font-size: 14px;
  height:380px;
}

main p {
  margin: 5px,15px;
}

article{
  text-align: left;
  border-bottom: 1px solid #cccccc;
  padding: 10px 10px;
}

h2 {
  border-bottom: 3px solid #aaccff;
  font-size: 14px;
  padding: 20px 5px 10px 0px;
  margin: 0 0 10px 15px;
}

time{
  font-size: 12px;
  white-space: nowrap;
}


aside{
  order:1;
}

aside div{
  background-color:white;
  border: solid 1px #22aaff;
  margin: 20px 0px;
  width: 260px;
  height: 235px;
}

aside ul{
  list-style-position: inside;
  margin-left:20px;
}
aside li{
  padding: 8px 0;
  max-width:220px;
  border-bottom: 1px solid #6666ff;
}

h3{
  background-color: #2288c6;
  color:white;
  padding: 8px 0 8px 20px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width:260px;
}

footer{
  padding-top: 15px;
}

footer ul{
  background-color: #77acff;
  color:#ffffff;
  list-style-position: inside;
  width:920px;
  height:25px;
  padding-left: 20px;
}

footer li{
  margin-right:10px;
  font-size:14px;
  text-align: center;
  margin-top:3px;
}
